body {
  background-color: Cornsilk;
}

.symbol {
  color: black;
} 

.price.up {
  color: green;
}

.price.unchanged {
  color: black;
}

.price.down {
  color: red;
}

.addStockWorkingImage.false {
  display: none;
}

.addStockWorkingImage.true {
  display: block;
}
