body {
  background-color: Cornsilk;
}

.symbol {
  color: black;
} 

.price.up {
  color: green;
}

.price.unchanged {
  color: black;
}

.price.down {
  color: red;
}

.addStockFormWorking.false {
  display: none;
  color: green;
}

.addStockFormWorking.true {
  display: block;
  color: blue;
}
